


<h1 class="text-center mt-3" style="color: rgb(71, 189, 244);font-weight: bold;">Sign up</h1>
<form [formGroup]="registerForm" class="mt-4 p-3 w-50 container text-center" style="background-color: rgba(124, 64, 202, 0.44);border-radius: 20px;" action="">
  <div class="p-2 mt-2">
    <input formControlName="acnno"   id="b1" name="accno" class="form-control mt-2 p-2" type="text" placeholder="account number">
  </div>

  <div *ngIf="this.registerForm.get('acnno')?.errors && this.registerForm.get('acnno')?.touched" class="text-start ms-2">
    <p class="font-weight-bolder" style="color: rgb(246, 159, 115);font-weight: bold;">Include numbers only</p>
  </div>

  <div class="p-2 mt-2">
    <input formControlName="uname"   id="b2" name="usname" class="form-control mt-2 p-2" type="password" placeholder="Enter Username">
  </div>

  <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched"  class="text-start ms-2">
    <p class="text-dark">Include characters only</p>
  </div>

  <div class="p-2 mt-2">
    <input formControlName="psww"    id="b3" name="paswd" class="form-control mt-2 p-2" type="password" placeholder="Enter Password">
  </div>

  <div *ngIf="this.registerForm.get('psww')?.errors && this.registerForm.get('psww')?.touched"  class="text-start ms-2">
    <p class="text-dark">Include characters and numbers</p>
  </div>


  <button (click)="register()"  class="btn btn-warning mt-4 p-2">Sign Up</button>
